.slider {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 0;
  position: relative;
  .slide-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .slide-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .slide-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .container-slide {
    margin-bottom: 10px;
    position: relative;
    span {
      position: absolute;
      bottom: 3px;
      right: 0px;
      background-color: #ff72b4;
      color: #fff;
      padding: 5px 10px;
    }
  }
  .onClick {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 2px;
  }
  .onClick:focus {
    background-color: #ff72b4;
    outline: none;
  }
  .onClick:hover {
    cursor: pointer;
  }
  .onClickLeft {
    position: absolute;
    top: 525px;
    left: 30%;
  }
  .onClickRight {
    position: absolute;
    top: 525px;
    right: 30%;
  }
  .onClickCenter {
    position: absolute;
    top: 525px;
    right: 50%;
  }
}
